/*
laranja #f65e01
azul #01207d
amarelo #fff103
*/
body{
    margin: 0;
    background-color: #f65e01;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #f65e01;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    background-color: #01207d;
    border-radius: 10%;
    color: #fff103;
    font-size: 36pt;
    font-weight: bold;
    font-family: sans-serif;
}

/*
#mesa img{
    transform: scale(0.5);
}
*/

#mesa{
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#acoes{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#acoes p{
    font-size: 36pt;
    font-family: sans-serif;
    font-weight: bold;
}

button{
    background-color: #01207d;
    color: #fff103;
    border: none;
    transform: scale(1.5);
    margin: 0 20px;
}